<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Transaksi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let trx of isiTransaksi" [value]="trx.idTransaksi">
      <ion-item slot="header" color="primary">
        <ion-label style="text-align: center;">
          ID {{ trx.id }} - {{ trx.tanggal }}
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let item of trx.items">
            <ion-label>
              <h2><b>{{ item.nama }}</b></h2>
              <p>Jumlah: {{ item.jumlahJual }} x Rp.{{item.harga_jual}}</p>
            </ion-label>
            <ion-note slot="end" color="secondary" style="font-size: 13px;">
              Subtotal: Rp.{{ item.subtotal }}
            </ion-note>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>
            Total belanja: Rp.{{ trx.totalPendapatan }}
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transaksi</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>