// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #28ba62;
    --ion-color-primary-rgb: 40, 186, 98;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #23a456;
    --ion-color-primary-tint: #3ec171;

    --ion-color-secondary: #ffc409;
    --ion-color-secondary-rgb: 255, 196, 9;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e0ac08;
    --ion-color-secondary-tint: #ffca22;
}

body.dark {
  --ion-background-color: #121212;
 
  --ion-background-color-step-50: #1e1e1e;
  --ion-background-color-step-100: #2a2a2a;
  
  --ion-text-color: #ffffff;
  --ion-text-color-step-50: #e0e0e0;

  --ion-item-background: #1e1e1e;
}

body.light {
  --ion-background-color: #ffffff;
  --ion-background-color-step-50: #f2f2f2;
  --ion-background-color-step-100: #e6e6e6;
  
  --ion-text-color: #000000;
  --ion-text-color-step-50: #333333;
  --ion-item-background: #ffffff;
  
  --ion-border-color: #c8c7cc;
}
