ion-grid {
  padding: 10px;
}

ion-row {
  justify-content: flex-start;
}

ion-col {
  padding: 5px;
  max-width: 50%;
}

.gambar-produk ion-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.nama-produk {
  font-size: 14px;
  font-weight: bold;
}