<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produk</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let produk2 of chunkArray(produk, 2); let i = index">
      <ion-col *ngFor="let data of produk2; let i2 = index">
        <ion-list>
          <ion-item class="gambar-produk">
            <ion-img [src]="data.url"></ion-img>
          </ion-item>

          <ion-item class="nama-produk" routerLink="/produkdetail/{{(i*2)+i2}}">
            {{data.nama}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>