<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">editproduk</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="editForm"(ngSubmit)="simpanEdit()">
    <ion-item>
        <ion-input label="Nama Produk" placeholder="Nama Wajib Di isi " type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Harga Jual" placeholder="Harga Jual Wajib di isi "type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Stock Barang" placeholder="Stock Barang Wajib di isi" type="number"></ion-input>
    </ion-item>
    <ion-button type="submit">Update Produk</ion-button>
  </form>
</ion-content>
