<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Beranda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Beranda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion *ngFor="let data of produk">
        <ion-item slot="header">
          <ion-label>{{data.nama}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <img
                [src]="data.url"
                [alt]="data.nama"
                style="
                  display: block;
                  margin: 0 auto;
                  max-width: 100%;
                  height: auto;
                "
                width="300px"
              />
            </ion-item>
            <ion-item>
              <ion-label>Kategori : {{data.kategori}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Stok : {{data.stok}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Harga per Unit : {{data.harga}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
