<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="frame">
    <ion-avatar>
      <ion-img src="https://cdn.pixabay.com/photo/2023/09/10/17/57/woman-8245439_1280.jpg"></ion-img>
    </ion-avatar>
  </div>

  <ion-card class="agaknaik">
    <ion-card-content class="tengah_atasberjarak">
      <ion-item lines="none">
        <ion-label style="text-align: center;">Halo, {{namaPengguna}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label style="font-size: 18px;">Info Profil Toko</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Nama Toko</h2>
          <p>Makmur Jaya</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Alamat</h2>
          <p>Jl. Tenggilis Mejoyo No.4, Kali Raungkut, Kec.Rungkut, Surabaya, Jawa Timur 60923</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Bio</h2>
          <p>Toko yang menyediakan berbagai kebutuhan pokok sehari-hari dengan harga terjangkau dan pilihan produk yang lengkap. Kami menyediakan beragam kebutuhan sembako, camilan, obat, minuman, dan kebersihan. Dengan mengutamakan kualitas, harga bersahabat, dan pelayanan yang ramah, kami berkomitmen untuk menjadi pilihan terpercaya bagi masyarakat dalam memenuhi kebutuhan sehari-hari.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Instagram</h2>
          <p>@tokomakmurjaya</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label style="font-size: 18px;">Info Pribadi</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>ID Pengguna</h2>
          <p>USR-12345</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Nama Lengkap</h2>
          <p>Marni Sari Wulandari</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Email</h2>
          <p>marnimakmur@gmail.com</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Nomor Telepon</h2>
          <p>081382914275</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>