<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container-tengah">
    <ion-card>
      <ion-card-header>
        <ion-text>
          <p style="text-align: center; font-weight: bold">
            Selamat Datang di SIMOBILE
          </p>
          <p style="text-align: center">
            Masukan Username dan Password terlebih dahulu!
          </p>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input
            label="Username:"
            labelPlacement="floating"
            placeholder="Masukkan username anda"
            type="text"
            [(ngModel)]="username"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password:"
            labelPlacement="floating"
            placeholder="Masukkan password anda"
            type="text"
            [(ngModel)]="password"
          >
          </ion-input>
        </ion-item>
        <ion-text *ngIf="sudahCoba && !hasilCek">
          <p style="text-align: center; color: red">
            Username atau password salah!
          </p>
        </ion-text>
        <ion-item lines="none">
          <ion-button (click)="cekLogin()" style="width: 100%; margin-top: 16px"
            >Login</ion-button
          >
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
